aiokafka==0.11.0
aiven-client==4.3.0
async-timeout==4.0.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
idna==3.10
kafka-python==2.0.2
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
packaging==24.1
platformdirs==4.3.6
Pygments==2.18.0
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.3
textual==0.84.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.2.3
